 <div class="container-fluid">
<div id= "conditions">


  <h1 id = "area-conditions">Nature of Planting Location<i class="fa fa-level-down" aria-hidden="true"></i></h1>
        <img scr="#">


    <div class="mainConditons" ng-controller="conditionsController">

      <form name="myForm">
        <div class="row">
          <div class="col-sm-4">
          <label for="lightExposure">Light Exposure:</label>
            <select name="lightExposure" id="lightExposure" ng-model="lightExposure">
              <option ng-repeat="option in data.lightOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="maxHeight">Maximum Available Height</label>
            <select class="maxHeight" id="maxHeight" ng-model="maxHeight">
              <option ng-repeat="option in data.heightOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="maxWidth">Maximum Available Width</label>
            <select class="maxWidth" id="maxWidth" ng-model="maxWidth">
              <option ng-repeat="option in data.widthOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </div>
        </div>

        <h1 id = "climate-zone">Planting Zones<i class="fa fa-level-down" aria-hidden="true"></i></h1>
                <h4>What area of North Carolina do you live in?</h4>

          <div class="row">
            <div class="col-sm-12">
              <label for="plantingZone">Geographic Location</label>
              <select class="plantingZone" id="plantingZone" ng-model="plantingZone">
                <option ng-repeat="option in data.zoneOptions" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
          </div>


            <button ng-click="submit" class="btn btn-primary" type="submit">Submit</button>


      </form>
    </div>

   </div>
 </div>  
   <!-- Controller -->
   <script src="assests/js/controller/conditonsController.js"></script>
