
<div id= "conditions">


  <h1 id = "area-conditions">Nature of Location<i class="fa fa-level-down" aria-hidden="true"></i></h1>
        <img scr="#">


    <div ng-app="plants" ng-controller="conditionsController">

      <form name="myForm">
          <label for="lightExposure">Light Exposure:</label>
          <select name="lightExposure" id="lightExposure" ng-model="lightExposure">
            <option ng-repeat="option in data.lightOptions" value="{{option.id}}">{{option.name}}</option>
         </select>


            <label for="maxHeight">Max Height</label>
            <select class="maxHeight" id="maxHeight" ng-model="maxHeight">
              <option ng-repeat="option in data.heightOptions" value="{{option.id}}">{{option.name}}</option>
            </select>


            <label for="maxWidth">Max Width</label>
            <select class="maxWidth" id="maxWidth" ng-model="maxWidth">
              <option ng-repeat="option in data.widthOptions" value="{{option.id}}">{{option.name}}</option>
            </select>


        <h1 id = "climate-zone">Climate Zone<i class="fa fa-level-down" aria-hidden="true"></i></h1>
                What is your location?

              <label for="plantingZone">Planting Zone</label>
              <select class="plantingZone" id="plantingZone" ng-model="plantingZone">
                <option ng-repeat="option in data.zoneOptions" value="{{option.id}}">{{option.zone}}/{{option.name}}</option>
              </select>


            <input class="btn btn-primary" type="submit" value="Submit">


      </form>
    </div>

   </div>
   <script src="conditonsController.js"></script>
