
<div id = "plants" ng-controller = "plantsController">

  <a href="#/home"><span class="fa fa-home fa-3x" aria-hidden="true"></span></a>
<!-- additional resources -->
  <a href="#/resources">
    <button class="options" ><i class="fa fa-search fa-2x" aria-hidden="true"></i></button></a>



    <div>
      <!-- Plant info container -->
      <ul class="fieldset-group">
        <label class = "PN">Plant Name</label>
        <li class="fieldset-group-item" ng-repeat="name in plants.names| limitTo:3">
        <h1>Botanical:{{name.plant.botanicalName}}</h1>
        <h1 class="common">Common:{{name.plant.commonName}}</h1>
        <!-- <p class="description">Description:{{info.plant.description}}</p> -->
        <button ng-show="info.plant.wishList">Add to list</button>
        </ul>
        <!-- <input placeholder='Rododendron' type='text'> -->

    </div>




        <!-- nav-tabs to show info about plants; Description and Specification -->
        <section ng-controller="PanelController as panel">
          <!-- nav-tabs container -->
            <ul class="nav-tabs">
            <li ng-class="{ panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)"></a>Description</li>
            <li ng-class="{ panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)"></a>Specification</li>
            </ul>

            <div class="panel" ng-show="tab === 1">
              <h4>Description</h4>
              <p>{{plant.description}}</p>
            </div>

        </section>







       <!-- <div class='fieldset fieldset-1of2'>
        <label class = "PCN">Plant Common Name</label>

        <input placeholder='Azalea' type='text'> -->
    </div>
  </div>

</div>
